{
  "name": "Backup Type Survey",
  "description": "Choose the type of backup you want to perform",
  "spec": [
    {
      "type": "multiplechoice",
      "question_name": "Backup Type",
      "question_description": "Select the type of backup",
      "variable": "backup_type",
      "choices": [
        "full",
        "diff"
      ],
      "required": true,
      "default": "full"
    }
  ]
}
